*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/*overflow:auto;*/
}

@media (max-width: 1000px){
        header{  
        	width: 100%;
                flex-direction: column;
                
                align-items: flex-start;
        }
}

.inicio{
font-size: 25px;
text-align: center;
} 
.navegacion{
	width: 1000px auto;
	/*margin: 30px auto;*/
	background: #000000;
	/*position:fixed*/;
text-align: center;

}
.navegacion ul{
	list-style: none;
    margin: 0;
}
.navegacion2{
	width: 500px auto;
	/*background:#f8c253;*/
background: rgb(40, 146, 157);


height: 79px;
text-align: center;

}


.menu > li{
	/*position: relative;*/
	display: inline-block;

}

.menu2 > li{
	/*position: relative;*/
	display: inline-block;
	

}


.menu > li > a{
	display: block;
	padding: 15px 15px;
	color: #ffffff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu2 > li > a{
	display: block;
	padding: 15px 15px;
	color: white;
	font-family: 'Open sans';
	text-decoration: none;
	text-align: center;
	margin-right:30px;

}
.menu li a:hover{
	color: pink;
	transition: all .3s;

}

/* Submenu*/
.submenu{
	position: fixed;
	/*position: absolute;*/
	background: #ffffff;
	width: 41.3%;
	height: 51.3%;
	visibility: hidden;
	opacity: 1;
	transition: opacity 1.5s;

}

.submenu li a{
	display: block;
	padding: 15px;
	color: #000000;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

.left{
    float: left;
    background:#FBC5FB;
  	font-family: Arial;
  	width: 18%;
}
.left select {
   font-size: 14px;
   height: 29px;
   padding: 5px; 
   width: 268px;
}
.center{
	width: 33.33%;
	text-align: center;
}
textarea {
  resize: none;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  /*width: 100%;*/
  background-color:#f4f4f4;
  color: black;
  text-align: center;
}
img {
    max-width: 100%;
    display:block;
	margin:auto;
}

.container{
	width: 100%;
		margin: 0;
	padding: 0;
	position: static;
}
.eldiv{
	width: 100%;
	margin-bottom: 0;
	text-align: center;

}


.contenedor{
	width: 100%;

	margin: 0px;
	text-align: center;

}
.second{
	position: block;

   height: 100%;
   /*width: 100% ;*/
}



	.new{
margin-left: 300px;
width: 100%;
	}

	.now{
		padding: 0px;	
	}


.titulo{
	font-weight: bold;
	font-size: 20px;
}
.titulos{
	font-weight: bold;
	font-size: 30px;
}

.cursos{
	margin-right:auto;
	text-align:center;
	
}
.verde{
	background-color: rgb(40, 146, 157);
	width: 100%;
}
.nuevo{
	float: right;
}
.card-img-top{
	height: 10em;
}

/* NAVBAR */
body{
	background: #ededed;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'arial';
    font-weight: bold;
    
}
h1{
	font-size: 26px;
}
h2{
	font-size: 20px;
}
h3{
	font-size: 18px;
}
h4{
	font-size: 16px;
}
h5{
	font-size: 14px;
}
h6{
	font-size: 12px;
}
p{
	font-family: 'arial';
	font-size: 14px;
	line-height: 20px;
}
a{
	text-decoration: none;
	font-family: arial;
}
span {
    font-family: 'arial';
    font-size: 14px;
    line-height: 20px;
}

hr {
    margin-top: 0;
}

nav {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav a{
	color: #FFF;
	display: block;
	font-size: 10pt;
	font-family: 'arial';
	padding: 150px 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: background .5s;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

/*
button.cerrar-sesion {
    text-decoration: none;
    font-family: arial;
    font-size: 10pt;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    border: 0px;
}
button.cerrar-sesion:hover {
    text-decoration: none;
    font-family: arial;
    font-size: 10pt;
    letter-spacing: 1px;
    color: black;
    text-transform: uppercase;
    background-color: transparent;
    border: 0px;
}
*/

/* CARDS */
.card{
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
	margin-right: 5%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* CURSO TABS */
.card_container{
	margin-top: 2%;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*
.tab_container {
	background-color: white;
	width: 90%;
	margin: 0 auto;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input, section {
  clear: both;
  padding-top: 10px;
  display: none;
}

label {
  font-weight: 700;
  font-size: 18px;
  display: block;
  float: left;
  width: 20%;
  padding: 1.5em;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #f0f0f0;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
  display: block;
  padding: 20px;
  background: #fff;
  color: #999;
  border-bottom: 2px solid #f0f0f0;
}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}
.tab_container .tab-content h3  {
  text-align: center;
}

.tab_container [id^="tab"]:checked + label {
  background: #fff;
  box-shadow: inset 0 3px #0CE;
}

.tab_container [id^="tab"]:checked + label .fa {
  color: #0CE;
}

label .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}
*/
/*****************************************************************/



/* Tabs Card */

/* Default mode */
.tab-card-header > .nav-tabs {
	
	/*display: table;
	table-layout: fixed;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;*/
	
	padding: 20px;
	background: #fff;
	color: #999;
	border-bottom: 2px solid #f0f0f0;
}


.tab-card-header > .nav-tabs > li {
	/*display: table-cell;
	width: 20%;
	padding:0 px;*/

	
	margin-right: 2px;
}

.tab-card-header > .nav-tabs > li > a{
color: gray;
}

.tab-card-header > .nav-tabs > li > a {
  border: 0;
  border-bottom:2px solid transparent;
  margin-right: 0;
  
  padding: 2px 15px;
}

.tab-card-header > .nav-tabs > li > a.show {
    
    color: rgb(40, 146, 157);
}
.tab-card-header > .nav-tabs > li > a:hover {
    color: gray;
}

.tab-card-header > .tab-content {
  padding-bottom: 0;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	/*color: rgb(40, 146, 157);*/
	color: black;
    background-color: #fff;
    border-color: rgb(40, 146, 157);
}

.card-header {
    padding: 0;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 0;
}