body,
html {
    height: 100%;
    /*background: #ededed;*/
    background: rgb(40, 146, 157);
    font-family: 'Rubik';
}

.tarjeta {
    height: 500px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #ededed;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login_btn {
    width: 100%;
    background: rgb(40, 146, 157); 
    color: white
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: rgb(40, 146, 157);  
    color: white; 
    border: 0 ;
    
}

.input-group input {
    
    border-radius: 0px 10px 10px 0px;
    
}


.input_user,
.input_pass:focus {
    box-shadow: none;
    outline: 0px;
}

/*
.custom-select.is-invalid~.invalid-feedback, .custom-select.is-invalid~.invalid-tooltip, .form-control.is-invalid~.invalid-feedback, .form-control.is-invalid~.invalid-tooltip, .was-validated .custom-select:invalid~.invalid-feedback, .was-validated .custom-select:invalid~.invalid-tooltip, .was-validated .form-control:invalid~.invalid-feedback, .was-validated .form-control:invalid~.invalid-tooltip {
    border-color: none;
    padding-right: 0;
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: 0;
}
*/
